@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap"');

* {
  font-family: 'Seymour One', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  overflow-x: hidden;
}

/* Horizontal line */
hr {
  height: 6px;
  border: 0;
  border-top: 1px solid var(--color-black);
  margin: 1em 0;
  padding: 0;
}
